@font-face {
    font-family: 'Aeonik';
    src: url('Aeonik-Medium.woff2') format('woff2'),
        url('Aeonik-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Aeonik';
    src: url('Aeonik-RegularItalic.woff2') format('woff2'),
        url('Aeonik-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Aeonik';
    src: url('Aeonik-Bold.woff2') format('woff2'),
        url('Aeonik-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Aeonik';
    src: url('Aeonik-Regular.woff2') format('woff2'),
        url('Aeonik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

